.master {
    background-color: #001119;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  .main {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .parent {
    position: absolute;
    top: 111px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .ring {
    height: 30px;    width: 30px;
    border-radius: 50%;
    top: -26px;
    position: absolute;
    background-color: #ffa500;
  }
  .line {
    width: 10px;
    height: 15px;
    background-color: #808080;
  }
  .ear {
    width: 10px;
    position: absolute;
    height: 50px;
    background-color: #c90a0a;
  }
  .ear-left {
    left: 115px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .ear-right {
    right: 115px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .robot {
    background-color: #a4d9eb;
    height: 150px;
    border: 5px solid #9bbcc2;
    border-radius: 20px;
    width: 150px;
    position: absolute;
  }
  .eye {
    width: 38px;
    height: 38px;
    background-color: white;
    border: 5px solid #00b3ff;
    border-radius: 50%;
    position: absolute;
  }
  .eye-right {
    right: 18px;
    top: 23px;
  }
  .eye-left {
    left: 20px;
    top: 23px;
  }
  .nose {
    width: 30px;
    height: 30px;
    background-color: #c90a0a;
    position: absolute;
    top: 56px;
    right: 55px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .mouth {
    position: absolute;
    width: 100px;
    height: 25px;
    background-color: #dedede;
    border-radius: 20px;
    top: 98px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    right: 18px;
    overflow: hidden;
  }
  
  .teeth {
    width: 4px;
    height: 23px;
    background-color: black;
  }